/* .square-image {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px; 
} */

/* .grid-cell {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
} */

.grid-cell:hover {
  opacity: 0.8;
}

